<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="info"
  internalLogFile="C:\Logs\MyWebsite\nlog-internal.txt">

	<extensions>
		<!--enable NLog.Web for ASP.NET Core-->
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets async="true">
		<target xsi:type="Mail"
                name="email"
                header="HEADER ${newline}"
                footer="${newline} FOOTER"
                html="true"
                addNewLines="true"
                replaceNewlineWithBrTagInHtml="true"
                subject="Nlog_Test~~"
                to="a0916364056@gmail.com"
                from="leozheng0417@gmail.com"
                smtpAuthentication="Basic"
                smtpServer="smtp.gmail.com"
                smtpPort="587"
                smtpUserName="leozheng0417@gmail.com"
                smtpPassword="xxx"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="email" />
	</rules>
</nlog>